{% extends 'base.html' %}
{% block content %}
<h1>{{ user_profile.username }}</h1>
<ul>
  <li>Email: {{ user_profile.email }}</li>
  <li>Name: {{ user_profile.last_name }} {{ user_profile.first_name }}</li>
  <li>Address: {{ user_profile.address }}</li>
</ul>
{% comment %}
  /accounts/profile/neo/
  => user_profile = <User: neo> 객체
{% endcomment %}

{% if request.user == user_profile %}
<div>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary">정보 입력</button>
    <a class="btn btn-warning" href="{% url 'accounts:change_password' %}">비밀번호 변경</a>
  </form>
  <div>
  </div>
  <hr>

  <form action="{% url 'accounts:withdraw' %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-danger" onclick="return confirm('ㅠㅠㅠㅠㅠㅠㅠㅠ')">회원 탈퇴</button>
  </form>

</div>
{% endif %}
{% endblock content %}