{% extends 'base.html' %}
{% block title %}Edit page{% endblock title %}

{% block body %}
  <h1>This is Edit page</h1>
  <form action="{% url 'update' pk=student.pk %}" method="POST">
    <!-- Post요청은 csrf_token이 필요하다-->
    {% csrf_token %}
    <div>
      name: <input type="text" name="name" value="{{ student.name }}"> 
    </div>
    <div>
      age: <input type="text" name="age" value="{{ student.age }}">
    </div>
    <div>
      major: <input type="text" name="major" value="{{ student.major }}">
    </div>
    intro: <textarea name="intro" cols="30" rows="5">{{ student.intro }}</textarea>
  
    <div>
      <input type="submit" class="btn btn-primary">
    </div>
  </form>
{% endblock body %}